---
import Footer from "./Footer.astro";
import HeaderIndex from "./HeaderIndex.astro";

---


<div class="relative sm:p-5 sm:w-3/4 items-end float-right justify-end container overflow-hidden bg-front-dark rounded min-h-fit">
  <div class="relative flex flex-col gap-7 rounded overflow-hidden container bg-front-dark border-2 border-cyan-200 min-h-fit">
    <HeaderIndex />
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, vero asperiores repellat ex consequuntur similique officiis beatae earum, voluptate amet a deleniti ab sit fugiat eaque eos eveniet sapiente fugit.Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus adipisci iste quidem nam consequuntur atque, nihiLorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, vero asperiores repellat ex consequuntur similique officiis beatae earum, voluptate amet a deleniti ab sit fugiat eaque eos eveniet sapiente fugit.Loo soluta, praesentium laboriosam aspernatur.Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, vero asperiores repellat ex consequuntur similique officiis beatae earum, voluptate amet a deleniti ab sit fugiat eaque eos eveniet sapiente fugit.Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus adipisci iste quidem nam consequuntur atque, nihil numquam architecto laudantium libero ab, ducimus at? Nihil deserunt quo soluta, praesentium laboriosam aspernatur.l numquam architecto laudantium libero ab, ducimus at? Nihil deserunt quo soluta, praesentium laboriosam aspernatur.</p>
    <Footer />
  </div>
</div>
