---

---

<div class="max-sm:place-items-center max-sm:flex-col  relative bg-cyan-700 h-full py-6 sm:pr-44 max-sm:h-screen">
  <aside class="max-sm:grid max-sm:w-full static sm:float-left max-sm:place-items-center">
    <img src="/nijika_1.jpeg" alt="Logo Image" class="max-sm:mt-6 max-sm:justify-center rounded-full w-48 h-48 sm:ml-32 sm:mr-8">
  </aside>
  <h5 class="max-sm:grid text-justify max-sm:place-items-center max-sm:mt-7 static text-stone-300 max-sm:my-0">Hi There!</h5>
  <p class="max-sm:grid max-sm:place-items-center static  text-white text-xl text-justify max-sm:px-4"><strong class="text-3xl">I'm Rin4th</strong><br>Mainly working on web related stuff with Golang especially in Backend Engineer, also like to solve CTF problem whenever I feel like it. Speaks Bahasa Indonesia and English, currently learning Japanese.</p>
</div>
