---

---

<div class="relative bg-cyan-700 h-64 py-6 pr-44">
  <aside class="static float-left">
    <img src="/nijika_1.jpeg" alt="Logo Image" class="rounded-full w-48 h-48 ml-32 mr-8">
  </aside>
  <h5 class="static text-stone-300">Hi There!</h5>
  <p class="static font-sans text-white text-lg"><strong class="text-2xl">I'm Rin4th</strong><br>Mainly working on web related stuff with Golang especially in Backend Engineer, also like to solve CTF problem whenever I feel like it. Speaks Bahasa Indonesia and English, currently learning Japanese.</p>
</div>
