---
const isHome = false;
---

<div class="w-56 rounded overflow-hidden bg-stone-700">
  <div class="px-6 py-3">
      { isHome ? <div class="flex flex-row justify-center items-center"><img src="/nijika_1.jpeg" alt="logo img" class="rounded-full w-20 h-20 "></div> : <div></div>}
      <a href="/">
        <div class="text-cyan-200 px-3 font-bold rounded border-dashed border-white border-2 text-lg mt-2 hover:scale-105">
          Home
        </div>
    </a>
      <a href="/blog/">
        <div class="text-cyan-200 px-3 font-bold rounded border-dashed border-white border-2 text-lg mt-2 hover:scale-105">
          Blogs
        </div>
      </a>
      <a href="/project"> 
        <div class="text-cyan-200 px-3 font-bold rounded border-dashed border-white border-2 text-lg mt-2 hover:scale-105">
          Project
        </div>
      </a>
      <a href="/about/">
        <div class="text-cyan-200 px-3 font-bold rounded border-dashed border-white border-2 text-lg mt-2 hover:scale-105">
          About
        </div>
      </a>
  </div>
</div>
