---
export interface Props {
	title: string;
}

import '../styles/global.css';
const { title } = Astro.props;
import Navigation from '../components/Navigation.astro';
import Card from '../components/Card.astro';
import HeaderIndex from '../components/HeaderIndex.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-more-dark px-6 py-6">
    <div class="flex container flex-row gap-x-3">
      <div class="fixed flex flex-col float-left items-center justify-center h-screen ml-6">
        <Navigation />
      </div>
      <div class="ml-64 p-5 w-3/4 items-end float-right justify-end container overflow-hidden bg-front-dark mr-10 rounded">
        <div class="rounded overflow-hidden bg-front-dark border-2 border-white min-h-[1000px]">
          <HeaderIndex />
        </div>
      </div>
    </div>
		<slot />
	</body>
</html>
