---
export interface Props {
	title: string;
}

import '../styles/global.css';
const { title } = Astro.props;
import Navigation from '../components/Navigation.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-neutral-900 pb-3 px-6 pt-6">
    <div class="flex relative">
      <Navigation class="relative left-0 top-0 flex-none w-32 h-32"/>
      <div class="absolute mb-6 inset-y-0 right-10 w-3/4 container mx-auto rounded overflow-hidden bg-stone-700">
      </div>
    </div>
      
    </div>
		<slot />
	</body>
</html>
