---
export interface Props {
	title: string;
}

import '../styles/global.css';
const { title } = Astro.props;
import Navigation from '../components/Navigation.astro';
import Card from '../components/Card.astro';
import BodyLayout from '../components/BodyLayout.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-more-dark px-6 py-6">
    <div class="flex container flex-row gap-x-3">
      <div class="fixed flex flex-col float-left items-center justify-center h-screen ml-6">
        <Navigation />
      </div>
      <BodyLayout />
    </div>
		<slot />
	</body>
</html>
