---
export interface Props {
	title: string;
}

import SEO, { type Props as SEOProps } from "../components/SEO.astro";

import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Card from '../components/Card.astro';
import BodyLayout from '../components/BodyLayout.astro';

export interface Props {
	seo: SEOProps;
}
const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
    <SEO {...seo} />
	</head>
	<body class="bg-more-dark sm:px-6 sm:py-5">
    <div class="flex flex-row container sm:space-x-4 sm:mx-auto">
      <div class="relative flex flex-col float-left items-center justify-center min-h-fit ml-6 max-sm:hidden">
        <Navigation />
      </div>
      <BodyLayout />
    </div>
		<slot />
	</body>
</html>
